<?xml version="1.0" encoding="ISO-8859-1" ?> 
<web-app xmlns="http://java.sun.com/xml/ns/javaee"  
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
           http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"  
         version="2.5">

    <!-- A continuacion deben declararse todas las Interfaces que se implementan como
         Servlets en el sistema. Para cada Interfaz deben declararse los tags
         <servlet> y <servlet-mapping>  
     -->

<servlet>
      <servlet-name>Login</servlet-name> <!--se identificara como "Login" para su definicion-->
      <servlet-class>interfaces.InterfazLogin</servlet-class> <!-- la clase que lo implementa esta en interfaces.InterfazLogin -->
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>  <!-- "/Login" corresponde al url con el que se accedera desde el navegador -->
    </servlet-mapping>  

    <servlet>
      <servlet-name>Registro</servlet-name> <!--se identificara como "Registro" para su definicion-->
      <servlet-class>interfaces.InterfazRegistro</servlet-class> <!-- la clase que lo implementa esta en interfaces.InterfazRegistro -->
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern> <!-- "/Registro" corresponde al url con el que se accedera desde el navegador -->
    </servlet-mapping> 

    <servlet>
      <servlet-name>InsertarArticulo</servlet-name> <!--se identificara como "InsertarArticulo para su definicion-->
      <servlet-class>interfaces.InterfazInsertarArticulo</servlet-class> <!-- la clase que lo implementa esta en interfaces.InterfazInsertarArticulo -->
    </servlet>
    <servlet-mapping>
      <servlet-name>InsertarArticulo</servlet-name>
      <url-pattern>/InsertarArticulo</url-pattern> <!-- "/InsertarArticulo" corresponde al url con el que se accedera desde el navegador -->
    </servlet-mapping> 

    <servlet>
      <servlet-name>AbrirArticulo</servlet-name> <!--se identificara como "AbrirArticulo" para su definicion-->
      <servlet-class>interfaces.InterfazAbrirArticulo</servlet-class><!-- la clase que lo implementa esta en interfaces.InterfazAbrirArticulo-->
    </servlet>
    <servlet-mapping>
      <servlet-name>AbrirArticulo</servlet-name>
      <url-pattern>/AbrirArticulo</url-pattern> <!-- "/AbrirArticulo" corresponde al url con el que se accedera desde el navegador -->
    </servlet-mapping>

    <servlet>
      <servlet-name>PublicarArticulo</servlet-name> <!--se identificara como "PublicarArticulo" para su definicion-->
      <servlet-class>interfaces.InterfazPublicarArticulo</servlet-class> <!-- la clase que lo implementa esta en interfaces.InterfazPublicarArticulo -->
    </servlet>
    <servlet-mapping>
      <servlet-name>PublicarArticulo</servlet-name>
      <url-pattern>/PublicarArticulo</url-pattern> <!-- "/PublicarArticulo corresponde al url con el que se accedera desde el navegador -->
    </servlet-mapping>

    <servlet>
      <servlet-name>AbrirRevista</servlet-name> <!--se identificara como "AbrirRevista" para su definicion-->
      <servlet-class>interfaces.InterfazAbrirRevista</servlet-class> <!-- la clase que lo implementa esta en interfaces.InterfazAbrirRevista -->
    </servlet>
    <servlet-mapping>
      <servlet-name>AbrirRevista</servlet-name>
      <url-pattern>/AbrirRevista</url-pattern> <!-- "/AbrirRevista" corresponde al url con el que se accedera desde el navegador -->
    </servlet-mapping>  

    <servlet>
      <servlet-name>InsertarRevista</servlet-name> <!--se identificara como "InsertarRevista" para su definicion-->
      <servlet-class>interfaces.InterfazInsertarRevista</servlet-class><!-- la clase que lo implementa esta en interfaces.InterfazInsertarRevista-->
    </servlet>
    <servlet-mapping>
      <servlet-name>InsertarRevista</servlet-name>
      <url-pattern>/InsertarRevista</url-pattern> <!-- "/InsertarRevista" corresponde al url con el que se accedera desde el navegador -->
    </servlet-mapping> 

    <servlet>
      <servlet-name>Votar</servlet-name> <!--se identificara como "Votar" para su definicion-->
      <servlet-class>interfaces.InterfazVotar</servlet-class><!-- la clase que lo implementa esta en interfaces.InterfazVotar-->
    </servlet>
    <servlet-mapping>
      <servlet-name>Votar</servlet-name>
      <url-pattern>/Votar</url-pattern> <!-- "/Votar" corresponde al url con el que se accedera desde el navegador -->
    </servlet-mapping> 

    <servlet>
      <servlet-name>RenovarSuscripcion</servlet-name>
      <servlet-class>interfaces.InterfazRenovarSuscripcion</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>RenovarSuscripcion</servlet-name>
      <url-pattern>/RenovarSuscripcion</url-pattern>
    </servlet-mapping> 

    <servlet>
      <servlet-name>CancelarSuscripcion</servlet-name>
      <servlet-class>interfaces.InterfazCancelarSuscripcion</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>CancelarSuscripcion</servlet-name>
      <url-pattern>/CancelarSuscripcion</url-pattern>
    </servlet-mapping> 

<!--
<servlet>
    <servlet-name>HelloWorld</servlet-name> 
    <servlet-class>com.swengsol.HelloWorldServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name> 
    <url-pattern>/HelloWorld</url-pattern> 
  </servlet-mapping>
-->  
</web-app>
