<?xml version="1.0" encoding="ISO-8859-1" ?> 
<web-app xmlns="http://java.sun.com/xml/ns/javaee"  
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
           http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"  
         version="2.5">

    <!-- A continuacion deben declararse todas las Interfaces que se implementan como
         Servlets en el sistema. Para cada Interfaz deben declararse los tags
         <servlet> y <servlet-mapping>  
     -->

<servlet>
      <servlet-name>Login</servlet-name>
      <servlet-class>interfaces.InterfazLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>  

    <servlet>
      <servlet-name>Registro</servlet-name>
      <servlet-class>interfaces.InterfazRegistro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping> 

    <servlet>
      <servlet-name>InsertarArticulo</servlet-name>
      <servlet-class>interfaces.InterfazInsertarArticulo</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>InsertarArticulo</servlet-name>
      <url-pattern>/InsertarArticulo</url-pattern>
    </servlet-mapping> 

    <servlet>
      <servlet-name>AbrirArticulo</servlet-name>
      <servlet-class>interfaces.InterfazAbrirArticulo</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>AbrirArticulo</servlet-name>
      <url-pattern>/AbrirArticulo</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>AbrirRevista</servlet-name>
      <servlet-class>interfaces.InterfazAbrirRevista</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>AbrirRevista</servlet-name>
      <url-pattern>/AbrirRevista</url-pattern>
    </servlet-mapping>  

    <servlet>
      <servlet-name>InsertarRevista</servlet-name>
      <servlet-class>interfaces.InterfazInsertarRevista</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>InsertarRevista</servlet-name>
      <url-pattern>/InsertarRevista</url-pattern>
    </servlet-mapping> 

<!--
<servlet>
    <servlet-name>HelloWorld</servlet-name> 
    <servlet-class>com.swengsol.HelloWorldServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name> 
    <url-pattern>/HelloWorld</url-pattern> 
  </servlet-mapping>
-->  
</web-app>
